html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* Rimuovi lo spazio bianco laterale (dx) */
}

.hero-header {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 1.0); /* Assicura che l'header sia trasparente */
}


.logo-container {
    order: 1;
    position: relative; /* Importante per posizionare correttamente */
}

.logo-container h3 {
    font-family: Plus Jakarta Sans, sans-serif;
    color: #ffa800;
    margin-left: 40px;
    text-transform: uppercase;
}

.hero-nav {
    order: 2;
    position: relative; /* Importante per posizionare correttamente */
}


.logo-text, .logo-link {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #ffa800;
}

.hero-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.hero-nav ul li {
    margin-right: 20px;
}

.hero-nav ul li a {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-right: 30px;
    color: #fff;
    text-decoration: none;
}

@media (max-width: 768px) {
    .hero-header {
        flex-direction: column; /* Imposta la direzione della flessione su colonna */
        align-items: stretch; /* Allinea gli elementi verticalmente */
        padding: 10px 0; /* Modifica il padding per adattarsi alla nuova disposizione */
    }

    .logo-container {
        order: 1; /* Cambia l'ordine per far comparire la navigazione sotto il logo */
        text-align: center; /* Centra il testo all'interno del container */
        margin-bottom: 10px; /* Aggiunge spazio tra il logo e la navigazione */
    }

    .hero-nav {
        order: 2; /* Cambia l'ordine per far comparire il logo sopra la navigazione */
    }

    .logo-container h3 {
        margin-left: 0; /* Rimuove il margine a sinistra per centrare il testo */
    }

    .hero-nav ul {
        justify-content: center; /* Centra gli elementi della lista */
    }

    .hero-nav ul li {
        margin: 0 10px; /* Modifica il margine tra gli elementi della lista */
    }
}


.hero {
    position: relative;
    width: 100%;
    height: 80vh;
    background-image: url('img/hero.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    overflow: hidden; /* Nasconde il contenuto che esce dall'hero */
}

.hero-content {
    max-width: 800px;
    padding: 20px;
    z-index: 2; /* Assicura che il testo dell'hero sia sopra l'header */
}

.hero h1 {
    font-family: Plus Jakarta Sans, sans-serif;
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 20px;
}

.herobtn {
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 10px;
    background-color: #FFA800;
    color: white;
    border: none;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    transition: background-color 0.3s;
}

.herobtn a {
    text-decoration: none;
    color: #000;
}

.herobtn:hover {
    background-color: #A66E00;
}

/* #### */

.about {
    display: flex;
    justify-content: center; /* Centra il contenuto orizzontalmente */
    align-items: flex-start; /* Allinea il contenuto in alto */
    margin: 50px;
    text-align: center; /* Allinea il testo al centro */
    max-width: 1200px; /* Larghezza massima della sezione */
    margin-left: auto;
    margin-right: auto;
}

.about-left,
.about-right {
    flex: 1; /* Occupa lo spazio rimanente */
}

.about-left {
    margin: 20px; /* Aggiungi margine a destra per separare le colonne */
}

.about h2 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 40px;
    text-align: left;
    text-transform: uppercase;
    font-weight: 800;
    color: #333;
    margin-bottom: 10px; /* Aggiungi spazio inferiore per separare il titolo dal paragrafo */
}

.about p {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    text-align: left;
    font-weight: 500;
    line-height: 1.5;
    color: #666;
    margin-bottom: 20px; /* Aggiungi spazio inferiore tra i paragrafi */
}

.about-img {
    max-width: 100%; /* Massima larghezza consentita */
    height: auto; /* Altezza automaticamente proporzionata */
    border-radius: 8px;
    margin-bottom: 20px; /* Aggiungi spazio inferiore per separare l'immagine dal testo */
}

hr {
    border: none;
    margin: 15px 0;
}


@media (max-width: 768px) {
    .about {
        flex-direction: column; /* Inverti l'ordine dei figli nella colonna */
    }



    .about-left p, .about-left h2 {
        text-align: center;
        margin: 25px;
    }

    .about-img {
        margin: 20px;
        max-width: 93%; /* Massima larghezza consentita */
        height: auto; /* Altezza automaticamente proporzionata */
    }

    hr {
    border-top: 1px solid #E9E9E9;
    margin: 15px 0;
    }
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuzione uniforme degli elementi */
    max-width: 1200px; /* Larghezza massima del contenitore */
    padding: 20px;
    margin: 0 auto;
}

.project {
    background-color: #fff;
    flex: 0 1 calc(30% - 20px); /* Larghezza flessibile per 3 elementi per riga con margini ridotti */
    text-align: center;
    margin: 20px;
    box-sizing: border-box; /* Include il padding nella larghezza calcolata */
}

.project p {
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
}

.portfolio p {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.project-image {
    max-width: 100%; /* Immagine responsiva */
    display: block;
    border-radius: 8px;
}

.portfolio h3 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 30px; /* Dimensione del titolo */
    font-weight: 800;
    color: #333;
    margin-top: 20px; /* Spazio superiore per separare il titolo dall'immagine */
    margin-bottom: 0; /* Rimuove lo spazio inferiore del titolo */
}

.portfolio p {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    max-width: 100%;
    font-weight: 500;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px; /* Dimensione del testo della descrizione */
    color: #666;
}

.portfolio a {
    font-family: Plus Jakarta Sans, sans-serif;
    text-decoration: underline;
    font-size: 20px;
    font-weight: 500;
    color: #FFA800;
}

@media (max-width: 768px) {
    .project {
        flex-basis: 100%; /* Su schermi più piccoli, mostrare un elemento per riga */
        margin-bottom: 60px;
    }
}

.btntext {
    text-decoration: none;
}

.portfoliobtn {
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 10px;
    background-color: #FFA800;
    color: white;
    border: none;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    transition: background-color 0.3s;
}

.portfoliobtn a {
    text-decoration: none;
    color: #000;
}

.portfoliobtn:hover {
    background-color: #A66E00;
}

.get-in-touch {
    height: 80vh;
    background-image: url('img/hero.png');
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box; /* Include il padding nella larghezza */
}


.get-in-touch h2 {
    font-family: Plus Jakarta Sans, sans-serif;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 20px;
}

.get-in-touch p {
    font-family: Plus Jakarta Sans, sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin: 30px;
    line-height: 1.5;
}


.contactbtn {
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 10px;
    background-color: #FFA800;
    color: white;
    border: none;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    transition: background-color 0.3s;
    }

.contactbtn a {
    text-decoration: none;
    color: #000;
}

.contactbtn:hover {
    background-color: #A66E00;
}

footer {
    background-color: #FFA800;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0; /* Impedisce al footer di restringersi quando il contenuto è troppo grande */
}

.copyright {
    font-family: Plus Jakarta Sans, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000;
}

.legal a {
    font-family: Plus Jakarta Sans, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000;
    text-decoration: none;
}

/* ### */

.hero-portfolio {
    position: relative;
    width: 100%;
    height: 60%;
    background-image: url('img/hero.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    overflow: hidden; /* Nasconde il contenuto che esce dall'hero */
}

.hero-portfolio h1 {
    font-family: Plus Jakarta Sans, sans-serif;
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 20px;
}



@media (max-width: 768px) {
    .project {
        flex-basis: 100%;
        margin-bottom: 60px;
    }
}

/* ### */

  .contact {
    flex-direction: column;
    margin: 50px;
  }

  .info, .info h4,
  .illustration {
    text-align: center;
    margin-right: 0;
  }

  .info h2 {
    font-family: Plus Jakarta Sans, sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
  }

  .info h4 {
    font-family: Plus Jakarta Sans, sans-serif;
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
  }

  .info p {
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 20px;
    margin-bottom: 0;
  }

  .illustration img {
    max-width: 20%;
  }

@media (max-width: 768px) {
  .contact {
    flex-direction: column;
  }

  .info, .info h4,
  .illustration {
    text-align: center;
    margin-right: 0;
  }

  .illustration {
    display: none;
  }
}


/* Pagina progetto */

.hero-content p, .hero-content a {
    font-family: Plus Jakarta Sans, sans-serif;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

@media (max-width: 768px) {
    .breadcrumb {
        margin-top: 50px;
    }

    .projectDesc {
        margin-bottom: 50px;
    }
  }

.gallery-container {
    max-width: 1500px;
    padding: 100px;
    margin: 0 auto; /* Centra il contenitore */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery-item {
    width: calc(33.33% - 20px); /* Calcola la larghezza per 3 elementi per riga con margine */
    margin-bottom: 20px;
    box-sizing: border-box;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

figcaption {
    margin-top: 10px;
    text-align: center;
    font-family: Plus Jakarta Sans, sans-serif;
}

/* Mobile */
@media (max-width: 768px) {
    .gallery-item {
        width: calc(100% - 20px); /* Una colonna per riga con margine */
    }
}
